{% extends "layout.html" %} {% block content %}
<div class="container my-5">
  <div class="row align-items-center">
    {% for row in data %}
    <!-- Photo on the left -->
    <div class="col-md-4 text-center mb-4 mb-md-0">
      <img
        src="{{ row.image_path }}"
        alt="Photo of practitioner"
        class="img-fluid image_animation"
        style="max-width: 250px"
        loading="lazy"
      />
    </div>
    <!-- Biography and credentials on the right -->
    <div class="col-md-8">
      <div class="card mb-3 p-3">
        <h2>Biography</h2>
        <p>{{ row.biography }}</p>
      </div>
      <div class="card p-3">
        <h2>Credentials</h2>
        <ul>
          {% for cred in row.credentials.split('\n') %}
          <li>{{ cred }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>

  <hr class="featurette-divider" />

  <div class="card p-3">
    <div class="row align-items-center">
    <div class="col-md-5">
    <h2>Contact Information</h2>
    </br>
    <a href="mailto:contact@Le-Acupuncture.com" class="btn btn-secondary">
      <span class="me-2" style="font-size:1.2em;">📧</span>
      contact@Le-Acupuncture.com
    </a>
    </br>
    </br>
    <a href="tel:+61427304967" class="btn btn-secondary">
      <span class="me-2" style="font-size:1.2em;">📞</span>
      +61 431 352 444
    </a>
    </div>

    <div class="col-md-7">
    <div class="ratio ratio-16x9">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d206.95030111089474!2d151.1551597353413!3d-33.91012779135607!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12b15fc592d74f%3A0xfcd8bc78a05f327c!2sLe%20Acupuncture%20-%20Hanh%20Le!5e0!3m2!1sen!2sau!4v1748941171076!5m2!1sen!2sau"
        width="100%"
        alt="Booking Embed"
        height="250"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade" 
      ></iframe>
    </div>
    </div>
    </div>
  </div>
  </div>
  </div>
</div>
{% endblock %}
