{% extends 'layout.html' %} {% block content %}
<div class="main-background">
  <div class="container text-center">
    <h1 class="display-1 padding">Booking</h1>
    <hr class="featurette-divider" />
    <form
      action="/booking.html"
      method="POST"
      class="box fade-up-in"
      style="text-align: center"
    >
      <div class="card booking-card fade-up-in">
        <div class="container">
          <div style="height: 50vh">
            <iframe
              id="cliniko-35230287"
              src="https://le-acupuncture.au2.cliniko.com/bookings?embedded=true"
              frameborder="0"
              alt="Booking Card Embed"
              scrolling="auto"
              width="100%"
              height="100%"
              style="pointer-events: auto"
            ></iframe>
          </div>
        </div>
      </div>
    </form>
  </div>
  </div>
</div>
{% endblock %}
